<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.gtuinnovationcouncil.gicapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:windowSoftInputMode="stateAlwaysHidden">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SlideScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:label="Login"
            android:noHistory="true"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SignupActivity"
            android:label="Sign up"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".ClubActivity"
            android:label="GIC Clubs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OnlineCourseActivity"
            android:label="Online Courses"
            android:screenOrientation="portrait"
            android:theme="@style/tabActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="About us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".FeedbackActivity"
            android:label="Feedback"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".SectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/tabActivity" />
        <activity
            android:name=".EventActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="Browse Event"/>
    </application>

</manifest>
